# ml
arxiv
llama-index
llama-index-embeddings-mistralai
llama-index-llms-mistralai
llama-index-storage-chat-store-postgres
llama-index-vector-stores-postgres

# databases
psycopg[binary] # use quotes to install this if fails
psycopg2-binary
sqlalchemy

# integration
fastapi
uvicorn
asyncpg
python-dotenv
requests
rich